$head-size: 60px; //顶部操作栏高度
$menu-size: 275px; //c
$operator-size: 275px;

$border-solor: #dcdfe6;
$border-color-light: #ebeef5;
$text-color: #314659;
$icon-color: rgba(0, 0, 0, 0.45);
$box-shadow-color: #f0f1f2;

$primary: #409eff; //主色调

.visual-editor {
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: white;

  &::before {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(black, 0.1);
    content: '';
  }

  & > .visual-editor-menu {
    z-index: 9;
    position: absolute;
    width: $menu-size;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    & > .visual-editor-menu-item {
      z-index: 9;
      position: relative;
      width: calc(100% - 20px);
      margin-left: 10px;
      border: solid 3px $border-solor;
      margin-top: 20px;
      min-height: 80px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 20px;
      box-sizing: border-box;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        // background-color: red;
        z-index: 2;
      }

      &:hover {
        border-color: $primary;
        cursor: move;
      }

      .visual-editor-menu-item-label {
        position: absolute;
        top: -3px;
        left: -3px;
        background-color: $primary;
        color: white;
        padding: 4px 8px;
        font-size: 12px;
      }
    }
  }

  & > .visual-editor-head {
    position: absolute;
    right: $operator-size;
    top: 0;
    left: $menu-size;
    height: $head-size;
    background-color: #409eff;
  }

  & > .visual-editor-operator {
    z-index: 9;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: $operator-size;
    // background-color: #314659;
    background-color: white;
  }
  & > .visual-editor-body {
    padding-top: $head-size;
    padding-left: $menu-size;
    padding-right: $operator-size;
    box-sizing: border-box;
    // background-color: skyblue;
    height: 100%;
    background-color: rgba(white, 0.1);
    position: relative;
    z-index: 1;

    & > .visual-editor-content {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // overflow: scroll;
      .visual-editor-container {
        position: relative;
        background-color: rgba(gray, 0.1);
        flex-shrink: 0;
        flex-grow: 0;

        .visual-editor-block {
          position: absolute;

          &:after {
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            content: '';
          }

          &.visual-editor-block-focus {
            &:after {
              border: dashed 1px $primary;
            }
          }
        }
      }
    }
  }
}
